.top-buffer{
    margin-top:10px;
}

.movietable tr td:nth-child(2){
    width: 150px;
}

.movietable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}

.error-text{
    color:red;
    
}


.delete-account-container{
    display: none;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
 }
 .delete-account-container.show {
     display: block;
 }
 .delete-account-content{
     width: 500px;
     height: 350px;
     background-color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
 }
