
.footer-container {
    background-color: var(--lightgrey);
    width: 100%;
}
.footer {
    height: 70px;
    width: 80%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .copy-rights {
    justify-content: flex-start;
}
.footer .social-media{
    justify-content: flex-end;
}
.copy-rights, .logo, .social-media {
    width: 33.33%;
    display: flex;
    justify-content: center;
}


.social-media img {
    width: 25px;
    height: 25px;
    margin:0 10px;
    cursor: pointer;

}
@media screen and (max-width:768px) {
    
    .footer {  height: 170px; flex-direction: column-reverse; justify-content:space-around; width:100%; padding: 20px 0;}
    .footer .copy-rights,  .footer .social-media{ justify-content: center; width:100%;}
    .footer div#fb-share-buttin, .footer div.send-email { width: 40px;}

}

