
.login-form, .signup-form-container { 
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 450px;
    flex-wrap: wrap;

}
.login-form form, .signup-form-container form, .user-sigup-btn-container, .producer-sigup-btn-container { 
  width: 70%;
  margin: auto;
}
.login-form input[type="text"]:not(:empty) {
  background-color: transparent;
  color: white;
}
.login-form input:-internal-autofill-selected {
   background-color: transparent;
  color: white;
}

.login-form h4{
    margin-bottom: 50px;
    text-shadow: 0px 3px 6px #000000B3;
}
.form-control {
     background-color: transparent;
     border: none;
     border-bottom: 1px solid var(--lightgrey);
     color: var(--lightgrey);
     font-family: 'Poppins', sans-serif;
     width: 100%;
     margin-bottom: 20px;
     font-size: 17px;
}

::-webkit-input-placeholder { /* Edge */
    color: var(--lightgrey);
  }
  
:-ms-input-placeholder { /* Internet Explorer */
    color: var(--lightgrey);
  }
  
::placeholder {
    color: var(--lightgrey);
}

.signup-form {
   width: 100%;
  }
.signup-form .form-group {
  width: 100%;
  margin-bottom: 7px;
}








@media screen and (max-width:1024px) {
  .signup-form-container, .login-form { width:90%; margin-top:30px;}
  
  .login-form form, .signup-form-container form, .user-sigup-btn-container, .producer-sigup-btn-container { margin:0;}
  }
  @media screen and (max-width:1023px) {

  .login-form, .signup-form-container { height: 400px;}
  }
  
@media screen and (max-width:768px) {
  .signup-form-container, .login-form { width:95%;height:400px; }

}
@media only screen  and (min-width : 768px)  and (max-height : 1024px) {
  .signup-form-container, .login-form { height: 450px;}

}
@media screen and (max-width:700px) {
  .signup-form-container, .login-form { width:95%; }

}
@media screen and (max-width:450px) {
  .login-form form, .signup-form-container form, .user-sigup-btn-container, .producer-sigup-btn-container { width: 100%;}
  .login-form, .signup-form-container { height: 350px; align-items: flex-start;}
  .signup-form .form-group {margin-bottom: 0px; }
  .form-control { font-size: 15px;}
  
  }