body {
  background: #000000;
}

.parent-container {
  min-height: 100vh;
  width: 100vw;
  margin-top: 150px;
}

.imgParent {
  background-image: url("../img/library2.png");
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.titles-latest>h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: 800;
  color: #f2edf0;
}

.titles-latest>p {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  color: #b3aeb1;
}

.titles>h1, .titles-latest>h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: 800;
  color: #f2edf0;
}

#containerLatest {
  display: grid;
  grid-template-columns: 1fr;
}

#searchAndTitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 98vw;
}

#buttonLatest {
  margin: 30px 0 30px;
}

.loadMoreContainer {
  margin: auto;
}

@media screen and (max-width: 450px) {
  div#buttonLatest {
    visibility: hidden;
    display: none;
    height: 1px;
  }

  #containerReleases {
    overflow-x: hidden;
  }

  #searchAndTitle {
    display: grid;
    grid-template-columns: 1fr;
  }

  .titles>h1, .titles-latest>h1  {
    font-size: 40px;
  }
  .parent-container{
    margin-top: 100px;
  }
}