.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}

.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;

}
.nav-right-aligned li { 
    list-style-type: none;
}
.navigation a { 
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightgrey);
    font-size: 20px;
    margin-left: 30px;
}

.nav-right-aligned {
    display: flex;
    align-items: center;
}
.nav-left-aligned {
    color: var(--lightgrey);
}

.nav-two-design-lines {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.nav-design-line {
    height: 2px;
    width:20px;
    background-color: var(--lightgrey);
}
.nav-design-line:last-child {
    margin-left: 10px;
    margin-top: 8px;
}
.sub-menu-header { position: relative;}
.sub-menu { 
    display: none;
    position: absolute;
    top: 35px;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.sub-menu a {
    font-size: 18px;
}
.active .sub-menu { 
    display: block;
}
.menu-arrow-down { 
    transform: rotate(180deg);
    margin-left: -10px;
    margin-bottom: -3px;
}
.active .menu-arrow-down {
    transform: rotate(0deg);
}