
.profile-page-inner {
    margin-top: 150px;
}

.profile-page-inner h3 {
    color: var(--lightgrey);
    text-shadow: 0px 3px 6px #000000B2;
}
.editable-data { 
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.profile-form-container {
    width:70%;
}
.editable-data .form-group { 
    margin-bottom: 10px;
}

.image-container img {
    border: 1px solid var(--lightgrey) ;
    min-width: 100px;
    min-height: 100px;
}
.editable-data .change-pass {
    color: var(--lightgrey);
}

.delete-account-container{
    display: none;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
 }
.delete-account-container.show {
     display: block;
 }
.delete-account-content{
     width: 500px;
     height: 350px;
     background-color: var(--lightgrey);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
 }
.editable-data .button {
    font-size: 18px;
    padding: 8px 30px;
 }

.editable-data .button.delete-btn { 
    opacity: 0.6;
    padding: 6px 30px;
}
.update-btn { 
    float: right;
}