.search-container,
#searchResults {
  display: grid;
}

.search-container > div {
  justify-self: end;
}

.search-container {
  position: relative;
}

form,
#searchResults > p {
  color: var(--lightgrey);
}
form {
  height: 25px;
}
#buttonSearch {
  width: 10px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
#buttonSearch > img {
  height: 15px;
}

#searchInput {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--lightgrey);
  color: var(--lightgrey);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
#searchResults {
  position: absolute;
  top: 30px;
  right: 50px;
}

@media screen and (max-width: 450px) {
  .search-container > div {
    justify-self: start;
    margin-top: 10px;
  }
  #searchInput {
    width: 200px;
  }
  #searchResults {
    left: 0px;
  }
}
