.search-container,
#searchResults {
  display: grid;
}

.search-container > div {
  justify-self: end;
}

.search-container {
  position: relative;
}

form,
#searchResults > p {
  color: var(--lightgrey);
}
form {
  height: 25px;
}
#buttonSearch {
  width: 10px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
#buttonSearch > img {
  height: 15px;
}

#searchInput {
  width: 150px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--lightgrey);
  color: var(--lightgrey);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
#searchResults {
  position: absolute;
  top: 30px;
  left: 250px;
}
