.producer-signup {
    display: none;
}

.producer-signup.active {
    display: block;
}

.user-signup {
    display: none;
}

.user-signup.active {
    display: block;
}

.user-sigup-btn-container,
.producer-sigup-btn-container {
    position: relative;
}

.user-sigup-btn-container img,
.producer-sigup-btn-container img {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}

.user-sigup-btn-container svg,
.producer-sigup-btn-container svg {
    display: none;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%) rotate(-90deg);
}

.user-sigup-btn-container.active  svg,
.producer-sigup-btn-container.active  svg {
    display: block;
}

.user-sigup-btn-container,
.producer-sigup-btn-container {
    opacity: 0.6;

}

.user-sigup-btn,
.producer-sigup-btn {
    text-shadow: 0px 3px 6px #000000B3
}

.user-sigup-btn-container.active,
.producer-sigup-btn-container.active {
    opacity: 1;
}

.active .hero-img {
    transform: translateY(-50%) rotate(-90deg);
}

@media screen and (max-width:450px) {
    .user-sigup-btn-container svg,
    .producer-sigup-btn-container svg {
        width: 25px;
        left: -20px;
    }


}